@keyframes moving-background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

:root {
  --color-primary: #136e92;
  --color-secondary: rgb(197, 255, 255);
  --color-accent: white;
  --color-accent-secondary: black;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

header {
  position: sticky;
  top: 0.5rem;
  transition: all 0.3s ease;
}

body {
  height: 100%;
  background: linear-gradient(
      45deg,
      var(--color-primary),
      var(--color-secondary),
      var(--color-accent)
    );
  background-size: 200% 200%;
  animation: moving-background 10s ease-in-out infinite;
}


.home-page_buttons {
  display: flex;
  gap: 1rem;
}

.home-page_buttons a {
  text-decoration: none;
}

.home-page_buttons button {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--color-secondary);
  color: var(--color-accent-secondary);
  padding: 0.5rem 1rem;
  border: var(--color-primary) 2px solid;
  border-radius: 5px;
  cursor: pointer;
  transition: scale 0.3s ease, background-color 0.3s ease;
}

.home-page_buttons button:hover {
  background-color: var(--color-accent);
  scale: 1.05;
}