.about-me {
    margin: 5%;
    padding: 1rem;
}

.about-me h2 {
    font-size: 4rem;
    border-bottom: 2px solid var(--color-primary);
}

.about-me .intro {
    font-size: 1.5rem;
    font-style: italic;
}

.about-me_content {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
}

@media (max-width: 768px) {
    .about-me_content {
        flex-direction: column;
        align-items: center;
    }
    
}

.about-me_text-panel h3 {
    border-bottom: 2px solid var(--color-primary);
}