.projects {
    padding: 1rem;
    margin: 5%;
}

.projects > h2 {
    font-size: 4rem;
    border-bottom: 2px solid var(--color-primary);
}

.projects h3 {
    font-size: 2rem;
}

.projects_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
}

.projects_content p {
    font-size: 1.2rem;
}

.project-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid var(--color-primary);
    background-color: var(--color-accent);
    padding: 2%;
    border-radius: 10px;
}

.project-images {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    overflow-x: scroll;
}

.project-images img {
    max-width: 33%;
    height: auto;
    object-fit: contain;
}

@media (max-width: 768px) {
    .project-images img {
        max-width: 100%;
    }
    
}

.project-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 1rem 0;
    padding: 5px;
    background-color: var(--color-secondary);
    border: 10px var(--color-primary);
    border-style: ridge;
    border-radius: 5px;
}

.project-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.project-links button {
    background-color: var(--color-primary);
    color: var(--color-accent);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: larger;
    transition: all 0.3s ease;
}

.project-links button:hover {
    background-color: var(--color-accent);
    color: var(--color-primary);
    transform: scale(1.05);
}

.project-links img {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--color-primary);
}

@media (max-width: 768px) {
    .project-links {
        flex-wrap: wrap;
        justify-content: center;
        font-size: smaller;
    }

    .project-links button:hover {
        background-color: var(--color-primary);
        color: var(--color-accent);
        scale: 1;
    }
}