.skills {
    padding: 1rem;
    margin: 5%;
}

.skills h2 {
    font-size: 4rem;
    border-bottom: 2px solid var(--color-primary);
}

.skills_content {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

@media (max-width: 768px) {
    .skills_content {
        flex-direction: column;
        align-items: center;
    }
    
}

.skills_content > div {
    width: 100%;
}

.skills_content h3 {
    font-size: 2rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--color-primary);
    padding-bottom: 10px;
    gap: 5px;
}

.skills_content h3 img {
    background-color: var(--color-primary);
    padding: 5px;
    border-radius: 5px;
}

.skills_content li {
    font-weight: bold;
    font-size: larger;
}